@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');

*{
margin: 0px;
padding: 0;
box-sizing: border-box;
font-family: 'IBM Plex Sans', sans-serif;
}

.container{
    background-color: #01001F;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
/*header*/

.header{  
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    width: 100%;
    max-width: 1800px;
    flex-wrap: wrap;

}

.header_logo{
    padding: 50px;
    margin:100px;
}

.header_nav{
    padding: 50px;
    margin:100px;
    align-content:flex-end;
    display:flex;
    flex-wrap:nowrap;
}
.header_nav a{
    
    text-decoration: none;
    margin-left: 40px;
    color: cornsilk;
    align-items: center;
}

.header-green{
color: rgb(11, 139, 69) !important;
border-right: solid 1px white;
padding: 20px;S
  
}

/*body*/
.caixa{
    display: flex;
    
}

.column{
    margin:50px;
    flex-direction: column;
    text-align: center;
}

.caixa1{

    color:#F9F8FB; 
    font-family:'Times New Roman', Times, serif;
    
}
 .caixa2{
    
    font-size:xx-small;
    text-align: justify;
    color:#524d6d;
    Font-family:"Times New Roman", Times, serif;
 }



.image{
    justify-content: space-between;
    display: flex;
    margin-left: 20px;
    margin-bottom: 50px;
    padding:50px;
    width: 100%;
    max-width: 1800px;  
   
}

.image img{
    height: 300px;
    width: 400px;
}


/*footer*/
   

.footer{
    width: 100%;
    padding:27px;
    color: white; 
    text-align: center;
    
} 

.boton_verde{
  
    font-size: 20px;
    background-color: rgb(40, 153, 59);
    color: rgb(2, 2, 2);
    border-radius:10px; 
    width: 182px;
    height:53px;
    margin-top:20px ;
    border: 0px;


}
.boton_blanco{
    
    font-size: 20px;
    background-color: rgb(216, 216, 216);
    font-size: 20px;
    color: rgb(2, 2, 2);
    border-radius:10px; 
    width: 182px;
    height:53px;
    margin-top:20px ;
    border: 0px;rgb(2, 2, 2);
    border-radius:10px; 
    width: 182px;
    height:53px;
    margin-top:20px ;
    border: 0px;  

}


/* pseudoclases */


/* jquery */
/* cambio header mbl*/
